<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/access.css">
    <title>Registro</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
		<form action="/register" class="formulario" id="formulario" method="POST">
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__userid">
				<label for="userid" class="formulario__label">No. Control</label>
				<div class="formulario__grupo-input">
					<input 
                    type="username" 
                    class="formulario__input" 
                    name="userid" id="username" 
                    placeholder="Ej. 19130343"
                    value="<%= typeof userid != 'undefined' ? userid : '' %>"
                    >
                    
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El número de control solo puede contener numeros y el máximo son 8 dígitos.</p>
			</div>

			<!-- Grupo: Nombre -->
			<div class="formulario__grupo" id="grupo__nombre">
				<label for="nombre" class="formulario__label">Nombre y Apellido</label>
				<div class="formulario__grupo-input">
					<input 
                    type="nombre" 
                    class="formulario__input" 
                    name="nombre" id="nombre" 
                    placeholder="Ej. Juan Pérez"
                    value="<%= typeof nombre != 'undefined' ? nombre : '' %>"
                    >
                    
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El usuario tiene que contener 4 a 16 dígitos y solo puede contener números, letras y guión bajo.</p>
			</div>

			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input 
                    type="password" 
                    class="formulario__input" 
                    name="password" 
                    id="password"
					placeholder="+8 caractéres, mayúsculas, minúsculas y números."
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                    >
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				
				</div>
				<p class="formulario__input-error">La contraseña debe ser mayor a 8 caractéres debe contenener mayúsculas, minúsculas, números.</p>
			</div>

			<!-- Grupo: Contraseña 2 -->
			<div class="formulario__grupo" id="grupo__password2">
				<label for="password2" class="formulario__label">Repetir Contraseña</label>
				<div class="formulario__grupo-input">
					<input 
                    type="password" 
                    class="formulario__input" 
                    name="password2" id="password2"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    >
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
			</div>

			<!-- Grupo: Correo Electronico -->
			<div class="formulario__grupo" id="grupo__email">
				<label for="email" class="formulario__label">Correo Electrónico</label>
				<div class="formulario__grupo-input">
					<input 
                    type="email" 
                    class="formulario__input" 
                    name="email" id="email" 
                    placeholder="Ej. correo@correo.com"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    >
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
			</div>

			<!-- Grupo: Carrera -->
			<div class="formulario__grupo" id="grupo__carrera">
				<label for="carrera" class="formulario__label">Carrera</label>
				<div class="formulario__grupo-input">
					<input 
                    type="carrera" class="formulario__input" 
                    name="carrera" id="carrera" 
                    placeholder="Ej. Ingenieria en sistemas computacionales"
                    value="<%= typeof carrera != 'undefined' ? carrera : '' %>"
                    >
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Ingrese un nombre de carrera válido.</p>
			</div>


            <!-- Grupo: Semestre -->
			<div class="formulario__grupo" id="grupo__semestre">
				<label for="semestre" class="formulario__label">Semestre</label>
				<div class="formulario__grupo-input">
					<input 
                    type="semestre" class="formulario__input" 
                    name="semestre" id="semestre" 
                    placeholder="Ej. 5 (Opcional)"
                    value="<%= typeof semestre != 'undefined' ? semestre : '' %>"
                    >
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Ingrese por favor únicamente un número entre el 1 al 15.</p>
			</div>

            <!-- Grupo: Especialidad -->
			<div class="formulario__grupo" id="grupo__especialidad">
				<label for="especialidad" class="formulario__label">Especialidad</label>
				<div class="formulario__grupo-input">
					<input 
                    type="especialidad" class="formulario__input" 
                    name="especialidad" id="especialidad" 
                    placeholder="Ej. Web y Moviles"
                    value="<%= typeof especialidad != 'undefined' ? especialidad : '' %>"
                    >
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">.</p>
				<!-- Mensaje del servidor -->

			</div>
			
			
			<!-- Grupo: Terminos y Condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					Acepto los Terminos y Condiciones
				</label>
				<p><%- include ('../partials/messages') %></p>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
			</div>

			<div class="formulario__grupo formulario__grupo-btn-aceptar">
				<button type="submit" class="formulario__btn">Aceptar</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario hecho correctamente</p>
			</div>
		</form>

		

        <div class="formulario__mensaje" id="formulario__mensaje">
            <p >¿Tienes una cuenta? <a href="/users/login">Login</a></p>
        </div>
	</main>
	<%- include('../partials/footer') %>
	
</body>
</html>

<script src="./javascript/formulario.js"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>